@media (max-width: 400px) {
  .photos-container {
    display: none;
  }
  .nav-bar .all-center {
    position: none;
    font-size: 10px;
  }
  .nav-bar .all-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-bar-center ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .big-container .title-container {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20%;
  }
  .nav-bar .all-center {
    position: none;
  }
  .title-container .name h1 span {
    font-size: 4rem;
    white-space: nowrap;
  }
  .title-container .name h1 {
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .title-container h1 ::after {
    display: none;
  }

  .title-container .photo {
    align-items: center;
    width: 40%;
    height: 20%;
  }
  .title-container .photo img {
    align-items: center;
    width: 80%;
  }
  .git-container {
    width: 100%;
    height: 80%;
    flex-direction: column;
  }
  .page-4 {
    align-items: flex-start;
  }
  .git-container .error-pages,
  .git-container .tesla,
  .git-container .portfolio {
    transform: rotate(0deg);
    width: 80%;
    height: 20%;
  }
  .symbol-error img,
  .symbol-tesla img,
  .symbol-portfolio img {
    width: 30%;
    overflow: auto;
  }
  .inprogress-logo img {
    top: 80%;
    width: 15%;
  }
  .git1-logo img,
  .git2-logo img,
  .git3-logo img {
    display: none;
  }
  .title-error,
  .title-tesla,
  .title-portfolio {
    flex: 1 1 70%;
    font-size: 0.5rem;
  }
  .title-error,
  .title-tesla,
  .title-portfolio {
    flex: 1 1 70%;
    font-size: 1rem;
  }
  form input,
  form textarea,
  form button {
    margin-bottom: 10%;
  }
  form {
    padding: 5%;
  }
  form input {
    width: 90%;
  }
  form textarea {
    width: 100%;
  }
  .details-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .details-center p {
    font-size: 10px;
  }

  .details-left-p,
  .details-center-p,
  .details-right-p {
    padding: 10%;
    font-size: 10px;
  }
  .contact-us-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .contact-us-container form {
    width: 100%;
    height: 50%;
    align-items: center;
  }

  /* .contact-us-container .thank {
    margin-top: 1%;
  } */
  .contact-us-container .thank {
    align-items: center;
  }
  .contact-us-container .thank h1 {
    color: white;
    font-size: 1.4rem;
  }
  .thank img {
    width: 50%;
  }
}
